{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

	    <title>Fathinah Asma</title>

		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-light nav-color navbar-right">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse right" id="navbarNav">
		    <ul class="navbar-nav ">
		      <li class="nav-item active">
		        <a class="nav-link" href="{% url 'mypage:home' %}">HOME </a>
		      </li>
		      <!--sr only gue apus diatas-->
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'mypage:skill' %}">SKILLS</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'mypage:workplay' %}">WORK & PLAY</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'mypage:message' %}">CONTACT</a>
		      </li>
                <li class="nav-item">
		        <a class="nav-link" href="{% url 'mypage:form' %}">FORM</a>
		      </li>
                <li class="nav-item">
		        <a class="nav-link" href="{% url 'mypage:show' %}">SHOW FORM</a>
		      </li>

		    </ul>
		  </div>
		</nav>

		{% block content %}
		{% endblock %}
	</body>
</html>