{% extends 'base.html' %}
{% load static %}
{% block content %}
        <h3>Add a reminder</h3>

        <form action="/form/" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    {{ form.as_table }}
                </tr>

            </table>
            {% with url_name=request.resolver_match.url_name %}
                <button class="btn-success" type="submit">Add</button>
                </form>

            {% endwith %}

{% endblock %}