{% extends 'base.html' %}
{% load static %}
{% block content %}

		<div class = "container">
			<div id="socmed">
				<a href="https://instagram.com/fa.thina/"><img src="{% static 'images/ig.png' %}"></a>
				<a href="https://github.com/cruncheek"><img src="{% static 'images/github.png' %}"></a>
				<a href="https://medium.com/@cruncheek"><img class="gml" src="{% static 'images/gmail.png' %}"></a>
			</div>
			<div id="main">
				 <h1>HI, I’M THINA</h1>
				 <hr>
				 <p>I’m a second year student majoring in Computer Science</p>
			</div>
		</div>
		
			
		
{% endblock %}