{% extends 'base.html' %}
{% load static %}
{% block content %}

		<div class = "container">
			<div id="socmed">
				<a href="https://instagram.com/fa.thina/"><img src="{% static 'images/ig.png' %}"></a>
				<a href="https://github.com/cruncheek"><img src="{% static 'images/github.png' %}"></a>
				<a href="https://medium.com/@cruncheek"><img class="gml" src="{% static 'images/gmail.png' %}"></a>
			</div>
			<div id="main">
				<div class="container-form">
				  <form action="{% url 'mypage:ty' %}">
				    <div class="col-75">
				      <input type="text" id="fname" name="firstname" placeholder="Email Address">
				    </div>
				    <div class="col-75">
				      <input type="text" id="lname" name="lastname" placeholder="Subject">
				    </div>
				    <div class="col-75">
				      <textarea id="subject" name="subject" placeholder="Your Message" style="height:200px"></textarea>
				    </div>
				  <div id="submit-area">
				    <input type="submit" value="Submit">
				  </div>
				  </form>
				</div>

			</div>
		</div>
		
			
{% endblock %}
