{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div style="text-align: center">
        <h3>Fathinah's Schedule</h3>
        <table class="table">
            <thead>
            <tr>
                <th> No </th>
                <th>Activity</th>
                <th>Category</th>
                <!-- <th>Day</th> -->
                <th>Date</th>
                <th>Time</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for i in data %}
                    <tr>
                        <th>{{ forloop.counter}}</th>
                        <td>{{ i.name }}</td>
                        <td>{{ i.category }}</td>
                        <td>{{ i.date }}</td>
                        <td>{{ i.time }}</td>

                        <td><a href="{% url 'mypage:delete_activity' i.pk %}">
                            <button class="btn btn-primary"> Delete</button>
                        </a></td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
