{% extends 'base.html' %}
{% load static %}
{% block content %}

		<div class = "container">
			<div id="socmed">
				<a href="https://instagram.com/fa.thina/"><img src="{% static 'images/ig.png' %}"></a>
				<a href="https://github.com/cruncheek"><img src="{% static 'images/github.png' %}"></a>
				<a href="https://medium.com/@cruncheek"><img class="gml" src="{% static 'images/gmail.png' %}"></a>
			</div>
			<div id="main">
				<p id="thankyou">Thank you! Your message has been successfully submitted. Gotta get back to you soon! :) <br> Sincerely, <br> Fathinah </p>
			</div>
		</div>
		
			
{% endblock %}