{% extends 'base.html' %}
{% load static %}
{% block content %}
		

		<div class = "container">
			<div id="socmed">
				<a href="https://instagram.com/fa.thina/"><img src="{% static 'images/ig.png' %}"></a>
				<a href="https://github.com/cruncheek"><img src="{% static 'images/github.png' %}"></a>
				<a href="https://medium.com/@cruncheek"><img class="gml" src="{% static 'images/gmail.png' %}"></a>
			</div>
			<div class="block">
				<div id="main-wp">
					 <div class="kotak" id="kotak-ec">
					 	<img src="{% static 'images/ec.JPG' %}">
					 	<h6>A year full of valueable lessons</h6>
					 	<p>Lorem ipsum dolor sit amet, consectetur Duis aute irure  integer tincidunt. Cras dapibus.</p>
					 </div>
					 <div class="kotak">
					 	<img src="{% static 'images/mun.jpg' %}">
					 	<h6>My MUN Journey</h6>
					 	<p>Lorem ipsum dolor sit amet, consectetur Duis aute irur integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.  </p>
					 </div>
					 <div class="kotak">
					 	<img src="{% static 'images/gg.png' %}">
					 	<h6>A day in KL</h6>
					 	<p>Lorem ipsum dolor sit amet, consectetur Duis aute irure integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
					 </div>
				</div>
				<div id="main-wp">
					 <div class="kotak" id="kotak-ec">
					 	<img src="{% static 'images/ec.JPG' %}">
					 	<h6>A year full of valueable lessons</h6>
					 	<p>Lorem ipsum dolor sit amet, consectetur Duis aute irure  integer tincidunt.</p>
					 </div>
					 <div class="kotak">
					 	<img src="{% static 'images/mun.jpg' %}">
					 	<h6>My MUN Journey</h6>
					 	<p>Lorem ipsum dolor sit amet, consectetur Duis aute irure integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. </p>
					 </div>
					 <div class="kotak">
					 	<img src="{% static 'images/gg.png' %}">
					 	<h6>A day in KL</h6>
					 	<p>Lorem ipsum dolor sit amet, consectetur Duis aute irure integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. </p>
					 </div>
				</div>
			</div>
		</div>
		
			
		
		

		
{% endblock %}
